// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
$fa-font-path: "../webfonts";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.router-link-exact-active,
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.router-link-exact-active {
    background-color: #007bff;
    color: #fff;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.router-link-exact-active,
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.router-link-exact-active:focus,
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.router-link-exact-active:hover {
    background-color: #007bff;
    color: #fff;
}